name: schema-server

image:
  registry: gsoci.azurecr.io
  name: giantswarm/schema-server
  tag: v0.0.1
  pullPolicy: IfNotPresent

ingress:
  hostnames:
    - schema.giantswarm.io
    - schema.operations.awsprod.gigantic.io
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-giantswarm
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"

ingress:
  enabled: true

route:
  enabled: false
  parentRefs:
    redirect:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: giantswarm-default
      namespace: envoy-gateway-system
      sectionName: http
    https:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: giantswarm-default
      namespace: envoy-gateway-system
      sectionName: https
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: giantswarm-default
      namespace: envoy-gateway-system
      sectionName: giantswarmio-https
  labels: {}
  annotations: {}

resources:
  requests:
    cpu: 5m
    memory: 5M
  limits:
    cpu: 50m
    memory: 20M

global:
  podSecurityStandards:
    enforced: false
