version: 2.1
orbs:
  architect: giantswarm/architect@6.11.0

workflows:
  build-workflow:
    jobs:
    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        filters:
            # Trigger job also on git tag.
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package-and-push-chart
        app_catalog: giantswarm-operations-platform-catalog
        app_catalog_test: giantswarm-operations-platform-test-catalog
        chart: schema-server
        requires:
        - push-to-registries
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
